In [120]:
import pandas as pd
import numpy as np
import datetime
from datetime import timedelta, date

In [151]:
year = 2009

In [152]:
csv_input = pd.read_csv("Remote_NDVI_"+str(year)+".csv", encoding= 'unicode_escape')

In [ ]:
csv_input = pd.read_csv("Remote_NDVI_"+str(year)+".csv", encoding= 'unicode_escape')
copy = csv_input[['id','_b1_mean']].copy(deep = False)
month = 3
day = 31
date =  datetime.datetime(year, month, day)
april_1_5 = []
for i in range(5):
    copy = csv_input[['id','_b1_mean']].copy(deep = False)
    copy.rename(columns = {'id': 'Grid_id', '_b1_mean': 'NDVI' } , inplace=True)
    date =  (date+ timedelta(days=1))
    copy['date'] = date
    april_1_5.append(copy)   
month = 4
day = 6
total_weeks = 26
date =  datetime.datetime(year, month, day-1)
temp = []
for i in range(1, total_weeks+1):
    for j in range(7):
        copy = csv_input[['id','_b'+ str(i)+'_mean']].copy(deep = False)
        copy.rename(columns = {'id': 'Grid_id', '_b'+ str(i)+'_mean': 'NDVI' } , inplace=True)
        date =  (date+ timedelta(days=1))
        copy['date'] = date
        temp.append(copy)
month = 10
day = 4
date =  datetime.datetime(year, month, day)
oct_5_31 = []
for i in range(27):
    copy = csv_input[['id','_b26_mean']].copy(deep = False)
    copy.rename(columns = {'id': 'Grid_id', '_b26_mean': 'NDVI' } , inplace=True)
    date =  (date+ timedelta(days=1))
    copy['date'] = date
    oct_5_31.append(copy)      
april_start = pd.concat(april_1_5, axis = 0, ignore_index = True)
april_oct = pd.concat(temp, axis=0, ignore_index=True)
oct_end = pd.concat(oct_5_31, axis = 0, ignore_index = True)
output= pd.concat([april_start, april_oct, oct_end], axis=0, ignore_index=True)
output.to_csv('NDVI_'+str(year)+'.csv', index=False)

In [153]:
csv_input

,id,_b1_mean,_b2_mean,_b3_mean,_b4_mean,_b5_mean,_b6_mean,_b7_mean,_b8_mean,_b9_mean,...,_b19_mean,_b20_mean,_b21_mean,_b22_mean,_b23_mean,_b24_mean,_b25_mean,_b26_mean,_b27_mean,_b28_mean
0,682187,11338.226885,11433.763637,11528.291297,11623.813657,11630.140842,11636.528029,11948.129096,12109.396449,12038.637010,...,13072.797312,13662.626699,14138.655915,13900.374040,13666.189947,13365.178599,13064.651113,12638.225918,12289.759894,11941.807273
1,682188,11267.300547,11469.572035,11532.208735,11596.201655,11529.342341,11611.857783,11943.772456,12067.458632,12006.080917,...,12979.716177,13543.796143,13840.351633,13757.095265,13690.729956,13379.314159,13068.497065,12683.455215,12278.885677,11874.717437
2,682189,11441.623585,11464.755600,11535.862243,11609.195515,11478.742275,11705.227244,11935.326645,12192.497239,12032.754438,...,12865.601066,13466.389909,13640.922016,13698.465477,13779.730530,13441.397869,13103.383941,12767.542246,12331.384007,11895.908724
3,682190,11454.903742,11469.201186,11560.102084,11653.480408,11536.824000,11668.120006,11926.029720,12351.050118,12222.832550,...,13218.721915,13733.960958,14034.406797,14004.968012,13975.529227,13645.169852,13315.809227,12756.508329,12397.180418,12038.091471
4,682191,11415.413720,11454.706599,11516.435606,11579.164614,11520.550425,11513.910587,11952.459182,12354.984715,12260.135297,...,13206.579760,13784.747402,14611.080761,14202.998261,13946.941936,13630.862239,13315.625266,12680.333756,12320.593035,11961.694226
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664869,21462,10150.177030,11527.419358,12270.513300,12640.288403,12398.221092,12580.496605,12763.043060,14182.579288,15244.957275,...,16401.397262,16393.188911,16385.609648,16032.241182,16008.888736,15983.601324,15301.459206,14590.630257,13965.296170,13787.108966
664870,21463,9885.849308,11424.915376,12325.878013,12475.058453,12272.374297,12427.740911,12584.066418,14253.662112,15032.292559,...,16359.507338,16229.995027,16147.752010,15894.946368,15922.605508,16012.503287,15444.609225,14519.014272,13849.566246,13676.006545
664871,21464,10316.948396,11353.873602,12171.975100,12523.056644,12117.348624,12384.085315,12651.626875,14292.906610,14990.965371,...,16202.538955,15864.089403,15711.287783,15712.261616,15691.712698,16075.503810,15415.398020,14642.017302,13868.854806,13667.472572
664872,21465,10243.212086,11319.287850,12031.220347,12496.230379,11923.432225,12412.771790,12903.093182,14526.795668,15002.621467,...,15940.389140,15814.907410,15348.288616,15329.509115,15314.904615,16024.343881,15287.071738,14538.466988,13790.080459,13679.580498
664873,21466,10047.571874,11628.438595,12205.870731,12491.671592,11949.429982,12649.673745,13350.135729,13691.484111,15136.809177,...,16125.338877,15604.849495,15455.571874,15424.072023,15563.000000,15426.872884,15080.000000,14475.476760,13871.171741,13747.411197

In [154]:
copy = csv_input[['id','_b1_mean']].copy(deep = False)
copy.head()

       id      _b1_mean
0  682187  11338.226885
1  682188  11267.300547
2  682189  11441.623585
3  682190  11454.903742
4  682191  11415.413720

In [155]:
month = 3
day = 31
date =  datetime.datetime(year, month, day)
april_1_5 = []
for i in range(5):
    copy = csv_input[['id','_b1_mean']].copy(deep = False)
    copy.rename(columns = {'id': 'Grid_id', '_b1_mean': 'NDVI' } , inplace=True)
    date =  (date+ timedelta(days=1))
    copy['date'] = date
    april_1_5.append(copy)

In [156]:
month = 4
day = 6
total_weeks = 26
date =  datetime.datetime(year, month, day-1)
temp = []
for i in range(1, total_weeks+1):
    for j in range(7):
        copy = csv_input[['id','_b'+ str(i)+'_mean']].copy(deep = False)
        copy.rename(columns = {'id': 'Grid_id', '_b'+ str(i)+'_mean': 'NDVI' } , inplace=True)
        date =  (date+ timedelta(days=1))
        copy['date'] = date
        temp.append(copy)

In [157]:
month = 10
day = 4
date =  datetime.datetime(year, month, day)
oct_5_31 = []
for i in range(27):
    copy = csv_input[['id','_b26_mean']].copy(deep = False)
    copy.rename(columns = {'id': 'Grid_id', '_b26_mean': 'NDVI' } , inplace=True)
    date =  (date+ timedelta(days=1))
    copy['date'] = date
    oct_5_31.append(copy)

In [158]:
april_start = pd.concat(april_1_5, axis = 0, ignore_index = True)
april_oct = pd.concat(temp, axis=0, ignore_index=True)
oct_end = pd.concat(oct_5_31, axis = 0, ignore_index = True)
output= pd.concat([april_start, april_oct, oct_end], axis=0, ignore_index=True)

In [159]:
output

           Grid_id          NDVI       date
0           682187  11338.226885 2009-04-01
1           682188  11267.300547 2009-04-01
2           682189  11441.623585 2009-04-01
3           682190  11454.903742 2009-04-01
4           682191  11415.413720 2009-04-01
...            ...           ...        ...
142283031    21462  14590.630257 2009-10-31
142283032    21463  14519.014272 2009-10-31
142283033    21464  14642.017302 2009-10-31
142283034    21465  14538.466988 2009-10-31
142283035    21466  14475.476760 2009-10-31

[142283036 rows x 3 columns]

In [160]:
output.to_csv('NDVI_'+str(year)+'.csv', index=False)

In [ ]:
ndvi_csv = pd.read_csv("NDVI_"+str(year)+".csv", encoding= 'unicode_escape')

In [ ]:
ndvi_csv